*{
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    background-color:white;
    /* overflow: hidden; */
}

.container {
    padding: 0;
    width: 100%;
    position: relative;
    margin-top: 2px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 250px; Add a left margin to the body that equals the width of the sidenav */
}



.topnav {
    /* overflow: hidden; */
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0 2px 4px 0 white;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#show_hide{
    background-color:white; 
    color: black; 
    border: none; 
    cursor: pointer; 
    margin-left: 1%;
}

#show_hide i{
    font-size: 30px;
}

#topnav_search{
    background-color:white; 
    color: black; 
    border: none; 
    cursor: pointer;
}

.topnav .logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left:1%;
}
.topnav .search {
    flex-grow: 1;
    margin: 0 10px;
    margin-left: 15%;
}
.topnav .search input {
    width: 65%;
    height:35px;
    border-radius: 10px; 
    border: 1px solid #ccc;
    padding: 5px;
    color:black;
}
.topnav .icons {
    display: flex;
    gap: 10px;
}
.topnav .icons a {
    color: black;
    text-decoration: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.sidenav {
    width: 250px; /* Set the width of the sidenav */
    height: 100%;
    /* top: 50px; Adjust this value to move the sidenav below the topnav */
    background-color:white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);   
    /* overflow-x: hidden; */
    /* padding-top: 60px; */
}        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
li {
    display: none;
    font-size: 15px;
    color:#818181;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    
    font-size: 36px;
    margin-left: 100px;
}
h1,
h2 {
    text-align: center;
    /* 让标题文本居中 */
}

#thumbnailsWrapper {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

#thumbnailsWrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 85vh;
    /* 设置最大高度 */
    /* overflow-y: auto; */
    /* 添加垂直滚动条 */
    /* overflow-x: hidden; */
    /* 隐藏水平滚动条 */
    padding-right: 17px;
    /* 考虑垂直滚动条宽度 */
    justify-content: space-around;
    border: 2px solid white;
    padding: 2%;
    /* 设置外部框相对于视口宽度的内边距 */
    width: 100%;
    /* 设置外部框宽度为视口宽度的 96% */
    box-sizing: border-box;
    /*盒子模型设置为边框盒*/
}
.search_show{
    display: flex;
    margin-bottom: 3%;
    margin-left: 15%;
}

.search_show video{
    width:30%;
}

.pdiv_show{
    width:60%;
    margin-left: 5%;
}

.pdiv_show p{
    padding-top: 2%;
}

.thumbnail {
    width: 30%;
    /* 设置缩略图宽度为外部框宽度的 30% */
    box-sizing: border-box;
    /*盒子模型设置为边框盒*/
    cursor: pointer;
    /* 鼠标指针设置为手型 */
    margin-top: 2%;
}

.thumbnail video {
    width: 100%;
    /* 设置视频元素宽度为缩略图宽度的 100% */
    height: auto;
    /* 高度自适应 */
    border-radius: 10px; 
}


#editPanel {
    display: none;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    float: left;
    width: 25%;
    height: 85vh;
    margin-left: 45px;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    text-align: right;
}

#editTextarea {
    width: 90%;
    /* 让textarea宽度自适应editPanel */
    height: 80%;
    /* 让textarea高度自适应editPanel */
    resize: none;
    /* 禁止用户调整textarea大小 */
    box-sizing: border-box;
    /* 让宽度包括padding和border */
    margin-right: 4.8%;
}

#saveButton {
    margin-right: 4.8%;
    padding: 10px 25px;
    background-color: #5DBC62;
    border-radius: 10%;
    border: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


.left{
    height: 100vh;
    left: 0;
    top: 0;
    width: 25%;
    position: absolute;
}
.right{
    position: absolute;
    width: 75%;
    top: 50px;
    right: 7%;
}
#user{
    width: 150px;
    /* background-color: red; */
    position:absolute;
    left: 0;
    top: 56px;
    z-index: 50000000;

}
#user ul li{
    border: 1px #c9c8c8 solid;  
    height: 50px;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
}
.icons{
    position: relative;
}
.show{
    display: block;
}
